<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addStock()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let stock of currentStocks">
      <button ion-item (click)="openStock(stock)">
        <ion-avatar item-start>
          <img [src]="stock.profilePic" />
        </ion-avatar>
        <h2>{{stock.name}}</h2>
        <p>{{stock.price}}</p>
        <ion-note item-end *ngIf="stock.note">{{stock.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteStock(stock)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>